<div class="container p-0">
    <div class="row p-0 m-0">
        <div class="div col-12" style="height: 5px; background-color: rgb(45, 64, 88)"></div>
        <div class="div col-5 p-0">
            <div class="position-relative h_delante">
                <div class="col-12 shadow titulo-01 position-absolute top-0 d-block" style="background-color: rgb(45, 64, 88)">
                    <span class="align-center fs-3 ps-3 fst-italic text-white">H & S Skill...</span>
                </div>
                <div class="col-12">
                    <a class="position-absolute top-0 end-0 pe-3 pt-1" href="#"><img src="../../../assets/btn_edi_01.png" alt="" width="25" height="25"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container col-12 base_barras bg-light pt-5 pb-4 border-start border-end">
        <div class="div"> 
            <div class="border-bottom" style="height: 10px"></div>
            <div class="border-bottom mb-3" style="height: 10px"></div>
            <div class="contenedor m-2 d-inline-block">
                <div class="cuadromar01 position-relative">
                    <div class="cuadromar02 circulo1 position-absolute"></div>
                    <h1>85%</h1>
                    <h2>Comunicacion</h2>
                </div>
           </div>
           <div class="contenedor m-2 d-inline-block">
                <div class="cuadromar01 position-relative">
                    <div class="cuadromar02 circulo2 position-absolute">
                    </div>
                    <h1>95%</h1>
                    <h2>Responsabilidad</h2>
                </div>
            </div>
            <div class="contenedor m-2 d-inline-block">
                <div class="cuadromar01 position-relative">
                    <div class="cuadromar02 circulo3 position-absolute">
                    </div>
                    <h1>90%</h1>
                    <h2>Actitud Positiva</h2>
                </div>
            </div>
            <div class="border-bottom" style="height: 20px"></div>
        </div>
    </div>
    <div class="container base_barras bg-light pb-4 border-start border-end">
        <div class="div">
            <div class="contenedor m-2 d-inline-block">
                <div class="cuadromar01 position-relative">
                    <div class="cuadromar02 circulo4 position-absolute">  
                    </div>
                    <h1>75%</h1>
                    <h2>Trj. Equipo</h2>
                </div>
            </div>
            <div class="contenedor m-2 d-inline-block">
                <div class="cuadromar01 position-relative">
                    <div class="cuadromar02 circulo5 position-absolute">
                    </div>
                    <h1>80%</h1>
                    <h2>Aprendizaje</h2>
                </div>
            </div>
            <div class="contenedor m-2 d-inline-block">
                <div class="cuadromar01 position-relative">
                    <div class="cuadromar02 circulo6 position-absolute">
                    </div>
                    <h1>90%</h1>
                    <h2>Int. Emocional</h2>
                </div>
            </div>
            <div class="border-bottom" style="height: 10px"></div>
            <div class="border-bottom" style="height: 10px"></div>
        </div>
    </div>
</div>
