<div class="row p-0 m-0 border-start">
    <div class="div col-12" style="height: 5px; background-color: rgb(45, 64, 88)"></div>
    <div class="div col-5 p-0">
        <div class="position-relative h_delante">
            <div class="col-12 shadow titulo-01 position-absolute top-0 d-block" style="background-color: rgb(45, 64, 88)">
                <span class="align-center fs-3 ps-3 fst-italic text-white">Experiencia...</span>
            </div>
            <div class="col-12">
                <a class="position-absolute top-0 end-0 pe-3 pt-1" href="#"><img src="../../../assets/btn_mas_02.png" alt="" width="25" height="25"></a>
            </div>
        </div>
    </div>
</div>
